<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <h1>Página Sobre</h1>
    <p>Nome do programa: Electron-Study</p>
    <p>Estado de desenvolvimento: BETA</p>
    <h2>Descrição do programa:</h2>
    <p>Este é um programa feito para ensinar sobre Electron, feito no Senac Tatuapé</p>
    <p>Aula sobre desenvolvimento de sistemas, framework e node.js</p>
</body>
</html>